
* { margin:0px;
    box-sizing: border-box;
    text-decoration: none;
   
}

body {  direction:rtl;
        text-align: right;
        margin:0px;
        padding:0px;

      }
        
.firstul> li
            { 
              position: relative;
              float:right;
              border: 1px solid red;
              /*border-image: url("images/menu_sep.png")  ;*/
              margin: 55px 0px 0px 0px;
              padding: 5px;
}

#logo 
      { 
        margin: 30px -15px 0px 5px;
        right:2px;
        padding: 0px;
      }

header  {
       
          height: 105px;
        }


a 
      {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color:white;
        font-weight: bold;
       
      }
      
.firstul
        { 
          position: absolute;
          margin-top: -2px ;
          list-style: none;      
          background-color: white;
          background-image: url("images/header_bg.png");
          height: 105px;
                   
          }

.firstul:after {   
                content: "";
                clear: both;
                display: table;
              }


#searchbox{
            margin-top: 55px;
            padding: 5px;
          }

input 
        {
            margin: 25px 0px 0px 0px;
            /*display:inline-block;*/
            top: 2px;
            right: 4px;
            width:126px;
            font-size: 12px;

        }


.row {  position: relative;
        list-style: none;      
        margin: 20px 0px 0px 0px ;

        
}

.col1 { 
        float:right;
        margin: 10px 5px 0px 0px;
        height:355px;
        width:293px;
        border-radius: 0px 0px 25px 0px;
        background:url(images/Station.JPG) ;
      }



.col2 
      { 
        float:right;
        margin: 10px 5px 0px 0px;
        height:355px;
        width:293px;
        border-radius: 0px 0px 25px 0px;
        background:url(images/Picture-046410251500.jpg) ;
      }


.col3 
      { 
        float:right;
        margin: 10px 5px 0px 0px;
        height:355px;
        width:293px;
        border-radius: 0px 0px 25px 0px;
        background:url(images/פזקר_-291_354410564000.jpg) ;
        
      }


.textInBox{
            position: relative;
            border: 1px solid black;
            border-image: url("images/hp_tab_text_bg.png") 1 fill;
            width:248px;
            height: 97px;
            right: 4px;
            top: 250px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color:white;
        
          }


h3  {
      width:228px;
      height: 14px;
    }

.readMore {border: 1px solid red;
            position: relative;
            left: -170px;
          }

p {
    width:228px;
    height: 52px;
  }

  .r2c1 
    {float:right;
      position: relative;
      font-size: 14px;
      height: 244px;
      width: 216px;
    }
    
  
.z3
    { 
      position: absolute;
      z-index: 3;  
      color: black;
      top: 14px;
      right: 30px;
     
    }
  
    .z1
    { 
      position: absolute;
      z-index: 1;  
    }
  
  .z2
  {
    position: absolute;
     z-index: 2; 
     top: 50px; 
     right: 20px;
  }


  .firstRow:after
                  {  
                    content: "";
                    clear: both;
                    display: table;
                  }