
* {margin:1px;
    box-sizing: border-box;
    text-decoration: none;
   
}

body {direction:ltr;
        text-align: left;
    
       }

  
  main {
    width: 80%;
  
  }
  ul{ list-style: none;
      position:absolute;
      background-color: silver;
      width:100%;
      height: 90px;
    
  }


  li{
    float:right;
    border: 1px solid red;
    margin-top: 55px;
    padding: 5px;
  }

  #logo 
  { float: right;
    margin-top: 10px;
    width: 141.99px;
    height: 92.99px;
    
  }